.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .Title {
        margin: 20px;
      }
}  
.NavMain{
    width: 500px;
    &-list {
        border: 3px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 5px;
        .NavMain-link {
            text-decoration: none;
            padding: 10px;
            color: red;
            }
        }
    }
    .NavMain-link--target {
        border: 2px solid $color-third;
        border-radius: 5px;
        align-items: center;
    }



